body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#furniture-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.furniture {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.furniture img {
    max-width: 200px;
    height: auto;
}
