body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#furniture-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.furniture {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.furniture img {
    max-width: 200px;
    height: auto;
}

#product-details {
    margin: 20px;
}

#product-details img {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

#product-details h2, #product-details h3, #product-details p {
    margin: 10px 0;
}